---
import Layout from '../components/layout.astro';
---

<style>
.wrapper {
  display: block;
  text-align: center;
}
</style>

<Layout
  title="Koen's Agenda"
  description="Make appointments with Koen without bothering to wait for a reaction!"
>
<main>
<h2>Pick a date here! </h2>
<main>
</Layout>