---
import Layout from '../components/layout.astro';
---

<style>
/* Your existing styles... */
/* Add new styles for the image gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 30%; /* Each item will take up 30% of the container width to show 3 items in a row */
  margin: 1rem; /* Add some spacing between the images */
}

.gallery-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.gallery-caption {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}
</style>

<Layout
  title="Cute images of Dewi" 
  description="See and appreciate these cute photos"
>
<main>
  <div class="gallery">
    <!-- First image -->
    <div class="gallery-item">
      <img
        class="gallery-img"
        src="/images/dewi1.jpeg"
        alt="cute photo during Meerkat trip"
      />
      <p class="gallery-caption">Meerkatten safari SA</p>
    </div>


    <div class="gallery-item">
      <img
        class="gallery-img"
        src="/images/dewi2.jpeg"
        alt="cute photo during wine tasting trip"
      />
      <p class="gallery-caption">Wine tasting trip SA</p>
    </div>

    <div class="gallery-item">
      <img
        class="gallery-img"
        src="/images/dewi3.jpeg"
        alt="cute photo during drive"
      />
      <p class="gallery-caption">cute photo during drive</p>
    </div>


  </div>
</main>
</Layout>
