---
import Layout from '../components/layout.astro';
---

<style>
.steps {
  background: var(--light);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(4, min(calc(25% - 1.5rem), 250px));
  }
}

.step {
  background: var(--white);
  border: 1px solid var(--lightBorder);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: left;
  box-shadow: 0 2px 4px rgb(14 30 37 / 12%);
}

.stepHeading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}


</style>

<Layout
  title="Koen test blog"
  description="This is a small site to show how some of the functionalities"
  home
>
  <main class="steps">
    <section class="step">
      <h2 class="stepHeading"> Cute photo's of Dewi</h2>
      <p>
        This page provides an excellent overview of the different cute
        appearances Dewi. <strong> Dewi!</strong>
        
      </p>
      <a href="/deploy-previews" class="button">
        See images <span class="sr-only">about Deploy Previews</span>
      </a>
    </section>

    <section class="step">
      <h2 class="stepHeading">Plan a day </h2>
      <p>
        Check the agenda in order to see which days are free. 
      </p>
      <a href="/instant-rollbacks" class="button">
        Learn more
        <span class="sr-only">about Instant Rollbacks</span>
      </a>
    </section>

    <section class="step">
      <h2 class="stepHeading">To be created</h2>
      <p>
        Mystery function... 
      </p>
      <a href="/functions" class="button">
      Learn more
      <span class="sr-only">about Netlify Functions</span>
      </a>
    </section>

    <section class="step">
      <h2 class="stepHeading">Feedback</h2>
      <p>
        Option to provide feedback on the experience. 
      </p>
      <a href="/netlify-forms" class="button">
        Learn more <span class="sr-only">about Netlify Forms</span>
      </a>
    </section>
  </main>
</Layout>
